@model Encyclopedia_Of_Laws.Models.LawyerInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>View Lawyer Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Lawyers</li>
            <li class="breadcrumb-item active">Lawyer profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    @if (Model.User.ProfilePicture != null)
                    {
                        <img src="~/images/@Model.User.ProfilePicture" alt="Profile" class="rounded-circle">
                    }
                    else
                    {
                        <img src="~/images/user-male.jpg" alt="Profile" class="rounded-circle">
                    }
            
                    <h2> @Html.DisplayFor(model => model.User.UserName) </h2>
                    <h3> </h3>
                    <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                        </li>

                        @if (Model == null)
                        {
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-create">Profile</button>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Profile</button>
                            </li>
                        }


                    </ul>

                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">About</h5>
                            <p class="small fst-italic">@Html.DisplayFor(model => model.Information)</p>

                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.User.Email)</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Name</div>
                                <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Username</div>
                                <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.User.UserName)</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Specialization</div>
                                <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.Specialization)</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">JopDescription</div>
                                <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.JopDescription)</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">OfficeLocation</div>
                                <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.OfficeLocation)</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">OfficeNumber</div>
                                <div class="col-lg-9 col-md-8">@Html.DisplayFor(model => model.OfficeNumber)</div>
                            </div>

                        </div>

                        @if (Model == null)
                        {
                            <div class="tab-pane fade pt-3" id="profile-create">
                                <partial name="Create" />
                            </div>
                        }
                        else
                        {
                            <div class="tab-pane fade pt-3" id="profile-edit">
                                <partial name="Edit" />
                            </div>
                        }


                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>


