@model IEnumerable<Encyclopedia_Of_Laws.Models.UserIssue>

@{
    ViewData["Title"] = "ListUserIssues";
}


<div class="pagetitle">
    <h1>User Issues</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">User Issues</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">

        <!-- Table with hoverable rows -->
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>

                    </tr>
                }
            </tbody>


        </table>
        <!-- End Table with hoverable rows -->

    </div>
</div>


